<!DOCTYPE html>
<html ng-app='findADoc'>
  <head>
    <title>FindaDoc Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="lib/ng-modal/ng-modal.css" media="all" />
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/ng-modal/ng-modal.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="lib/angular/ui-utils-0.2.1/ui-utils.js"></script>
    <script type="text/javascript" src="lib/bindonce.js"></script>
  </head>
  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">VUMC FindADoc Demo</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover" ng-controller="doctorsController">
            <h1 class="cover-heading">Find a Doc</h1>
            <p class="lead">Locate your next Vanderbilt doctor</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default" ng-click='toggleModal()'>Search Our Database</a>
            </p>
            <modal-dialog show='modalShown' width='80%' height='90%' title='This is a modal'>
              <div class="main">
                <img src="http://pazzopinto.files.wordpress.com/2013/01/vb-logo1.gif">
                <!-- <p style="font-size: 46px; color: white; margin-top: 10px;">Doctors Found: <span style="font-size: 60px; color: white;">{{filtered.length}}</span></p> -->
                <div class="search">
                  <h1>Find a Doctor</h1>
                  <!-- <h3>Total Doctors: {{filtered.length }}</h3> -->
                  <input ng-model="query" ng-model-options="{ debounce: 2000 }" placeholder="Search by first or last name or speciality (i.e. cancer or heart)" autofocus style="margin-bottom: 20px;"></input>
                  <button ng-click="toggle = !toggle" style="color: black; margin-right: 20px;">Toggle!</button>
                  <button ng-click="filter = !filter" style="color: black;">Filter</button>
                  <div ng-show="filter">
                    <p>Test</p>
                  </div>
                  <!-- Show:
                  <select ng-model="query">
                      <option value=" " selected>All</option>
                      <option ng-repeat="item in doctors | orderBy: 'speciality' | unique: 'speciality'" value="{{item.speciality}}">{{item.speciality}}</option>
                  </select> -->
                </div>
                <ul class="doctorslist" ng-show="toggle">
                  <li class="doctor cf" bindonce ng-repeat="item in doctors | unique: item.ID | orderBy:'ProviderName.LastName' | filter: query | limitTo: 6">
                    <img ng-src="{{item.ImageUrl}}" alt="Photo of {{item.ProviderName.LastName}}" err-src="icon-main-doctor.jpg">
                    <div class="info">
                      <h2><a target="_blank" bo-href="http://www.vanderbilthealth.com/main/findadoc?LastName={{item.ProviderName.LastName}}&FirstName={{item.ProviderName.FirstName}}">{{item.ProviderName.FirstName}} {{item.ProviderName.LastName}}</a></h2>
                      <div ng-if="item.OrganizationsList.ProviderOrganization.length > 0">
                        <ul ng-repeat="ProviderOrganization in item.OrganizationsList.ProviderOrganization | limitTo: 1">
                          <li>{{ProviderOrganization.Name}}</li>
                        </ul>
                      </div>
                        <p>{{item.OrganizationsList.ProviderOrganization.Name}}</p>
                    </div>
                  </li>
                </ul>
              </div>
              <a ng-href='{{link}}'>This is a link to {{link}}</a>
              <p>Shown? {{modalShown}}</p>
            </modal-dialog>
            <!-- <button ng-click='toggleModal()'>Toggle Modal</button> -->
            <br/>
            <br/>
            <br/>
          </div>

          <div class="mastfoot">
            <div class="inner">
            </div>
          </div>

        </div>

      </div>

    </div>
    <script type='text/javascript'>
      app = angular.module('ngModalDemo', ['ngModal']);
      app.config(function(ngModalDefaultsProvider) {
          return ngModalDefaultsProvider.set({
            closeButtonHtml: "<i class='fa fa-times'></i>"
          });
      });
      app.controller('DemoController', function($scope) {
          $scope.link = "http://google.com";
          $scope.modalShown = false;
          $scope.toggleModal = function() {
            $scope.modalShown = !$scope.modalShown;
          };
      });
    </script>
  </body>
</html>
